.NavigationBar{
  position: fixed;
  padding: 0;
  left: 0;
  right: 0;
  margin: 0;
  top: 0;
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #555;
}
.Navigation{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

.Navigation * {
  cursor: pointer;
}