#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Inhalt von oben */
  padding-top: 80px; /* Abstand nach oben */
  background-color: #242424;
  box-sizing: border-box;
  gap: 2rem;
}
