#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}
 .body{
  background-color: #242424;
  flex-direction: column;
  gap: 2rem;
 }

.NavigationBar {
  position: absolute;
  padding: 0;
  left: 0;
  right: 0;
  margin: 0;
  top: 0;
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #555;
}

.logo {
  height: 40px;
  padding: 4px 5px;
}

.login-box {
  position: relative;
  width: 400px;
  height: 450px;
  border-radius: 20px;
  border-style: solid;
  border-color: #ccc;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background: #242424;
}

.login-box h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ccc;
}

.input-box {
  position: relative;
  width: 300px;
  margin: 8px 0;
  border-bottom: 2px solid #ccc;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus + label,
.input-box input:valid + label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 50px;
  padding: 10px 0;
  font-size: 1em;
  color: #ccc;
  border: none;
  
  background: transparent;
  outline: none;
  padding: 0 35px 0 5px;
  box-sizing: border-box;
}

.input-box .icon {
  line-height: 55px;
  position: absolute;
  right: 10px;
  font-size: 1.2rem;
  color: #ccc;
}

.remember-forgot {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #ccc;
  margin: 5px 0 15px;
}
